@import url('https://fonts.googleapis.com/css2?family=Bree Serif&family=Pacifico&display=swap');

.login-form {
    width: 29%;
    height: auto;
    /* border: solid rgb(39, 173, 41) 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto 90px;
    box-shadow: 2px 3px 5px 3px grey;
    background-color: white;
    border-radius: 5px;
}

.login-form h1 {
    text-align: center;
    padding: 30px 0px 22px;
    color: rgb(99, 154, 27);
    font-size: 37px;
}

.login-form input {
    display: block;
    width: 470px;
    margin: 0px 50px 18px 50px;
    padding: 14px 10px;
    border: solid rgb(99, 154, 27) 1.3px;
}
.login-form label{
    display: block;
    margin-left: 60px;
    margin-bottom: 4px;
    margin-top: 25px;
}
.login-form p{
    margin-left: 60px;
    margin-top: -3px;
    color: rgb(9, 9, 95);
    padding-bottom:17px;

}
.spcolor{
    color: rgb(18, 17, 17);
}

#address {
    padding: 10px 10px 80px;
}

#submitt {
    margin: 30px 50px 52px;
    background-image: linear-gradient(to bottom left, rgb(90, 144, 19), rgb(105, 143, 17));
    color: white;
    border: none;
    padding: 12px;

}

#submitt:hover {
    background-image: linear-gradient(to bottom left, rgb(98, 150, 30), rgb(119, 159, 28));

}
.l-icon{
    padding: 10px 5px 0px 34px;
    margin-bottom: -60px;
}

.error {
    color: red;
    font-size: 15px;
    text-align: end;
    padding-right: 50px;
}
@media screen and (max-width:1780px) {
    .login-form{
        width: 40%;
    }   
}
@media screen and (max-width:1450px) {
    .login-form{
        width: 47%;
    }   
}
@media screen and (max-width:1120px) {
    .login-form{
        width: 55%;
    }   
}
@media screen and (max-width:940px) {
    .login-form{
        width: 62%;
    }   
    .login-form input {
        width: 400px;
    }
}
@media screen and (max-width:740px) {
    .login-form{
        width: 75%;
    }   
}
@media screen and (max-width:560px) {
    .login-form{
        width: 90%;
        margin: 40px auto 30px;
    }   
    .login-form input {
        width: 350px;
    }
    .l-icon{
        padding: 10px 0px 0px 35px;
    }
}
@media screen and (max-width:430px) {
    .login-form{
        width: 96%;
        margin: 32px auto 20px;
    }
    .login-form input {
        width: 300px;
    }  
    .l-icon{
       margin-left: 30px;
    } 
}
@media screen and (max-width:340px) {
    .login-form{
        width: 99%;
        margin: 32px auto 20px;
        margin-left: 19px;
    }
    .login-form input {
        width: 250px;
    }  
    .l-icon{
       margin-left: 20px;
    } 
}